body{
    background: #326717 url('/img/bg.jpg') center top no-repeat;
    /* background: antiquewhite url("img/завантаження.png") repeat 50% 0;; */
   font-family: "Arial", sans-serif;
   font-size: 20px;
   color:  yellow;
}

h1{
    color:yellow;
    text-align: center;
}

p{
    color:rgb(255, 255, 255)
}
img {
    background-color: green; 
}
#highlight{
    background-color: green;
    
}